body {
    font-family: Sigmar, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    .gradient-box
    background:radial-gradient(to black,yellow,purple); 
    /*background-image: url('images/ronaldo je goat3.webp'); Path to your background image */
    background-size: cover; /* Make sure the image covers the entire element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #0066cc;
}

p {
    color: #333333;
}
